@font-face {
    font-family: Avenir;
    src: url(resources/avenir.otf);
  }
.login{
            margin-top: 100px;
        }
.login .card{
            background: rgba(0, 0, 0, .6);
        }
.login label{
            font-size: 16px;
            color: #ccc;
        }
.login input{
            font-size: 22px !important;
            color:#fff;
        }
.login button:hover{
            padding: 0px 40px;
        }
.card-action{
            font-family: "Avenir";
        }
.row{
            width: 100vmin !important;
            
}
