#perfilMain .card{
 background-color: #f4f3f3;
 width: 100%;
 height: 100%;
 text-align: center;
 margin: 0;
}

#perfilMain .card-background{
 background: linear-gradient(to right, #0d47a1, #2196f3);
 height: 25vh;
 width: 100%;
}

#perfilMain .card-image{
 border-radius: 50%;
 width: 120px;
 height: auto;
 position: relative;
 top: 100px;
 border: 6px solid #f4f3f3;
}

#perfilMain h1{
 font-size: 150%;
 color: #2196f3; 
}

#perfilMain p{
 color: grey;
}

@media only screen and (min-width: 601px) {
 #perfilMain .card{
   height: 70vh;
 }
 #perfilMain .card-info{
   margin-top: 0vw;
 }
}



@media only screen and (max-width: 600px) {
  #perfilMain .card-info{
   margin-top: 6rem;
 }
}


